*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}


.lineaCentro {
  background-color: #f4edf6;
  padding: 10px;
  text-align: center;
  letter-spacing: 3px;
  height: 6vh;
  color: #495057;
}

.principal{
  background-image:url(../imagenes/neutro.jpg);
  background-size: 100%  ;
  background-repeat: repeat-y;
  padding: 35px;
  height: 74vh;
  text-align: center;

}
header{
  width: 100%;
  height: 20vh;
  background-image:url(../imagenes/block.jpg);
  background-size: 100% 100% ;
  color: #f8f9fa;
  text-align: center;
  letter-spacing: 3px;
  font-style: oblique;
  font-size: 40px;

}
#section1{
  letter-spacing: 3px;
  font-size: 32px;
  color: #475d62;
  font-family: serif;
  text-align: center;

}

#comenzar{
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 15px;
  text-decoration: none;
  margin: 22px;
  color: #fff;
  text-transform: uppercase;
  background: #3498db;
  cursor: pointer;
  font-family: 'Roboto';
  width: 200;
  left: 50%;

  /*
  background: #3498db;
  width: 120px;
  padding: 4px 0;
  left: 50%;
  top: 50%;
   position: absolute;
  transform: translateX(-50%) translateY(-50%);
  border-radius: 6px;

 	font-family: 'Roboto';
  text-align: center;
	text-transform: uppercase;
  color: #FFF;
  user-select: none;

  cursor: pointer; */
}

#section2{
  display: none;
  margin:auto;
  margin-top: 20px;
  width: 100%;
    /*border: 1px solid black;*/
  padding: 10px;
}

.texto{
  width: 50%;
  float: left;
}

.textarea{
  width: 75%;
  height: 160px;
  color: #495057;
  font-size: 22px;
  font-family: serif;
  border: 4px solid #ced4da;
  border-radius: 12px;
  padding: 10px;
  box-shadow: 1px 2px #888888;
  letter-spacing: 2px;
  background-color: #fff0f6;
}

#textoACifrar , #AquiTextoCifrado{

}

#offset{
  width: 60px;
}

#cifrar , #descifrar, #limpiar , #volver{
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 15px;
  text-decoration: none;
  margin: 22px;
  color: #fff;
  text-transform: uppercase;
  background: #3498db;
  cursor: pointer;
  font-family: 'Roboto';
}

.letraLabel{
  font-size: 20px;
  color: #495057;
}

#limpiar , #volver{
  background: #ff922b;
}

#descifrar:hover {
  background-color: #6FC6FF;
}
#cifrar:hover {
 background-color: #6FC6FF;
}

@media screen and (max-width:780px) {
  .texto{
    width: 100%;
  }
  header{
    font-size: 25px;
  }
.principal{

  height: 100vh;
}
}
